<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理页面</title>
    <link rel="stylesheet" href='{{ buildStaticUrl("/css/bootstrap.min.css") }}'>
    {% block css %}{% endblock %}
    <style>
        *{
            font-family: 幼圆;
        }
    </style>
</head>
<body>
    {% block content %}{% endblock %}


    <script src="{{ buildStaticUrl('/plugin/jquery-3.5.0.min.js') }}"></script>
    {% block js %}{% endblock %}
</body>
</html>